{{define "auth/signin.html"}}
    <!DOCTYPE html>
    <html lang="zh-CN">
    <head>
        <title>{{.title}}</title>
        {{template "layouts/header.html"}}
    </head>
    <body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="/"><b>W</b>blog</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            {{if not .message}}
                <p class="login-box-msg">Sign in to start your session</p>
            {{else}}
                <p class="login-box-msg text-danger">{{.message}}</p>
            {{end}}
            <form action="/admin/signin" method="post">
                <div class="form-group has-feedback">
                    <input type="text" name="account" class="form-control" placeholder="Email or telephone">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" name="password" class="form-control" placeholder="Password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox" name="checkbox"> Remember Me
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="button" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <div class="social-auth-links text-center">
                <p>- OR -</p>
                <a href="/auth/github" class="btn btn-block btn-social btn-github btn-flat"><i class="fa fa-github"></i>
                    Sign in using
                    Github</a>
            </div>
            <!-- /.social-auth-links -->

            <a href="/password/index">I forgot my password</a><br>
            <a href="/admin/signup" class="text-center">Register a new membership</a>

        </div>
        <!-- /.login-box-body -->
    </div>
    {{template "layouts/footer.html" .}}
    <!-- /.login-box -->
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });

            $('button[type="button"]').on('click', function () {
                var acount = $('input[name="account"]');
                var password = $('input[name="password"]');
                var form = $("form");
                if (acount === "") {
                    toastr.error("username or password cannot be null");
                    return false
                }
                if (password === "") {
                    toastr.error("username or password cannot be null");
                    return false
                }
                $.ajax({
                    url: form.attr('action'),
                    type: 'post',
                    data: form.serializeArray(),
                    dataType: 'json',
                    contentType: "application/x-www-form-urlencoded; charset=utf-8",
                    success: function (data) {
                        console.log(data);
                        if (data['succeed']) {
                            window.location.href = "/admin/index"
                        } else {
                            toastr.error(data['message']);
                        }
                    },
                    error: function (data) {
                        toastr.error(data)
                    }
                })
            });
        });


    </script>
    </body>
    </html>
{{end}}