{{define "post/edit.html"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Post - New</title>
        {{template "layouts/header.html" .}}
        {{template "layouts/text_rich.html" .}}
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        {{template "layouts/navbar.html" .}}
        {{template "layouts/sidebar.html" .}}
        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    <small>博文管理
                        <a style="border: none" id="addTag" class="btn btn-primary">
                            <span class="glyphicon glyphicon-edit"></span>
                            Add Tag
                        </a>
                        <a id="select_tag" class="btn btn-primary" data-title="select tag">
                            <span class="glyphicon glyphicon-search"></span>
                            Select Tag
                        </a>
                        <a class="btn btn-primary pageSave" id="pageSave" href="javascript:void(0);"
                           style="">
                            <span class="glyphicon glyphicon-saved"></span>
                            Save Page
                        </a>
                    </small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/admin/index"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active"><a href="#">页面管理</a></li>
                </ol>
            </section>
            <section class="content">
                <div class="row" id="tag_content" style="margin-bottom: 10px;"></div>
                <div class="row">
                    <div class="col-xs-12">
                        <!-- add a new tag -->
                        <!-- create or update a article -->
                        <form action="/admin/posts" method="post" id="postForm" class="form-group">
                            <input id="tags" name="tags" type="hidden">
                            <input name="post[title]" type="text" class="form-control" placeholder="Title"/><br/>
                            <textarea id="demo" name="post[body]"></textarea><br/>
                            <div class="bootstrap-switch-small">
                                <input id="switchbtn" name="isPublished" type="checkbox"/>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
    {{template "layouts/footer.html" .}}
    {{template "layouts/text_rich_footer.html".}}
    <script src="/static/libs/page_assets/post/new.js"></script>
    </body>

    </html>
{{end}}