{{define "layouts/footer.html"}}
    <footer class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <center><p>Copyright &copy; Your Website 2014</p></center>
                </div>
            </div>
        </div>
    </footer>
    <script src="/static/libs/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/libs/bootstrap/js/bootstrap.min.js"></script>
{{end}}