{{define "layouts/text_rich_footer.html"}}
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <!-- code syntax highlighting -->
    <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
    <script src="/static/libs/InlineAttachment/inline-attachment.js"></script>
    <script src="/static/libs/InlineAttachment/codemirror-4.inline-attachment.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/x-editable@1.5.1/dist/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="/static/libs/page_assets/simplemde.js"></script>

{{end}}