{{define "password/modify.html"}}
    <!DOCTYPE html>
    <html lang="zh-CN">
    <head>
        <title>{{.title}}</title>
        {{template "layouts/header.html"}}
    </head>
    <body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="/"><b>W</b>blog</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            {{if not .message}}
                <p class="login-box-msg">Modify password to start your self</p>
            {{else}}
                <p class="login-box-msg text-danger">{{.message}}</p>
            {{end}}
            <form action="/admin/password" method="post">
                <input name="_csrf" value="{{.token}}" type="hidden">
                <div class="form-group has-feedback">
                    <input type="password" name="password" class="form-control" placeholder="Entry Your Password ">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" name="confirm_password" class="form-control"
                           placeholder="Confirm Your Password ">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <input type="hidden" value="{{.email}}" name="email">
                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Save</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
    </div>
    {{template "layouts/footer.html" .}}
    <!-- /.login-box -->
    <script>
        $(function () {

        });
    </script>
    </body>
    </html>

{{end}}