{{define "user/show.html"}}
    <!DOCTYPE html>
    <html lang="zh-CN">
    <head>
        {{template "layouts/header.html" .}}
        <title>Wblog - Profile</title>
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
    <!-- Content Wrapper. Contains page content -->
    <div class="wrapper">
        {{template "layouts/navbar.html" .}}
        {{template "layouts/sidebar.html" .}}
        <!-- Content Header (Page header) -->
        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    Profile
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/admin/index"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Profile</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row ">
                    <div class="col-md-6">
                        <!-- Horizontal Form -->
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title">个人信息</h3>
                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->
                            <form class="form-horizontal">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
                                        {{if gt (len .user.Email) 0}}
                                            <div class="col-sm-6">
                                                <input type="email" class="form-control" id="inputEmail3"
                                                       value="{{.user.Email}}" readonly placeholder="Email">
                                            </div>
                                        {{else}}
                                            <div class="col-sm-6">
                                                <input type="email" class="form-control" id="inputEmail3"
                                                       placeholder="Email">
                                            </div>
                                            <div class="col-sm-4">
                                                <a href="#" class="btn btn-primary" onclick="bindEmail();">绑定</a>
                                            </div>
                                        {{end}}
                                    </div>
                                    <div class="form-group">
                                        <label for="inputGithub" class="col-sm-3 control-label">Telephone</label>
                                        <div class="col-sm-6">
                                            <input class="form-control" name="telephone" value="{{.user.Telephone}}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputGithub" class="col-sm-3 control-label">NickName</label>
                                        <div class="col-sm-6">
                                            <input class="form-control" name="nick_name" value="{{.user.NickName}}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputGithub" class="col-sm-3 control-label">Password</label>
                                        <div class="col-sm-6">
                                            <input class="form-control" name="password" value="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputGithub" class="col-sm-3 control-label">Confirm Password</label>
                                        <div class="col-sm-6">
                                            <input class="form-control" name="confirm_password" value="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputGithub" class="col-sm-3 control-label">Avatar Image</label>
                                        <div class="col-sm-6 image">
                                            <input class="form-control" value="" type="file" name="avatar_url">
                                            <img src="{{.user.AvatarUrl}}"  class="img-circle" alt="User Image" style="width: 50px;">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputGithub" class="col-sm-3 control-label">Github</label>
                                        {{if gt (len .user.GithubLoginId) 0}}
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="inputGithub"
                                                       value="{{.user.GithubLoginId}}" readonly>
                                            </div>

                                        {{else}}
                                            <div class="col-sm-4">
                                                <a href="/auth/github" class="btn btn-primary">绑定</a>
                                            </div>
                                        {{end}}
                                    </div>
                                    <div class="form-group">
                                        <label for="joinTime" class="col-sm-3 control-label">Register Date</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="joinTime"
                                                   value="{{dateFormat .user.CreatedAt "2006-01-02 15:04:05"}}"
                                                   readOnly>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-info pull-right">Save</button>
                                </div>
                                <!-- /.box-footer -->
                            </form>
                        </div>
                    </div>
                </div>
                {{if gt (len .user.GithubLoginId) 0}}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="box box-info">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Github</h3>
                                </div>
                                <form class="form-horizontal">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label for="inputGithub" class="col-sm-3 control-label">Company</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control"
                                                       value="{{.user.GithubUserInfo.Company}}" readonly="readonly">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputGithub" class="col-sm-3 control-label">Avatar Image</label>
                                            <div class="col-sm-6 image">
                                                <img src="{{.user.GithubUserInfo.AvatarURL}}"  class="img-circle" alt="User Image" style="width: 60px;">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputGithub" class="col-sm-3 control-label">Bio</label>
                                            <div class="col-sm-6">
                                                <input type="text" value="{{.user.GithubUserInfo.Bio}}"  class="form-control" readonly="readonly" >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputGithub" class="col-sm-3 control-label">Email</label>
                                            <div class="col-sm-6">
                                                <input value="{{.user.GithubUserInfo.Email}}"  class="form-control" readonly="readonly">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputGithub" class="col-sm-3 control-label">Location</label>
                                            <div class="col-sm-6">
                                                <input value="{{.user.GithubUserInfo.Location}}"  class="form-control" readonly="readonly">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputGithub" class="col-sm-3 control-label">Name</label>
                                            <div class="col-sm-6">
                                                <input value="{{.user.GithubUserInfo.Name}}"  class="form-control" readonly="readonly">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {{end}}
            </section>
        </div>
        <!-- /.content -->
    </div>
    {{template "layouts/footer.html"}}
    </body>
    </html>
    <script type="text/javascript">
        $(document).ready(function () {


            function bindEmail() {
            }

            function bindGithub() {
            }

            function unbindGithub() {
                $.post("/admin/profile/github/unbind", {}, function (result) {
                    if (result.succeed) {
                        window.location.reload(true)
                    }
                }, 'json');
            }
        });
    </script>

{{end}}