{{define "register/new.html"}}
    <!DOCTYPE html>
    <html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{.title}}</title>
        {{template "layouts/header.html"}}
    </head>
    <body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <a href="/"><b>W</b>blog</a>
        </div>

        <div class="register-box-body">
            {{if not .message}}
                <p id="msg" class="login-box-msg">Register a new membership</p>
            {{else}}
                <p id="msg" class="login-box-msg text-danger">{{.message}}</p>
            {{end}}
            <form id="signupForm" action="/admin/register" method="post" data-remote="true">
                <input name="_csrf" value="{{.token}}" type="hidden">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" name="nick_name" placeholder="Full name">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="email" name="email" class="form-control" placeholder="Email">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="tel" name="telephone" class="form-control" placeholder="telephone">
                    <span class="glyphicon glyphicon-phone form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" name="password" class="form-control" placeholder="Password"
                           id="form-password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" name="confirm_password" class="form-control" placeholder="Retype password"
                           id="form-password-again">
                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <div class="col-sm-4 col-4" style="padding-left:0">
                        <input type="text" id="verify_code" name="verify_code" class="form-control"
                               placeholder="VerifyCaptcha">
                    </div>
                    <div class="col-sm-3 col-3">
                        <img id=image-captcha src="/admin/captcha" alt="Captcha image">
                    </div>
                    <div class="col-sm-3 col-3 col-md-offset-2">
                        <button type="button" id="refresh-button" class="btn btn-sm btn-primary">Refresh</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox"> I agree to the <a href="#">terms</a>
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="button" id="submitForm" class="btn btn-primary btn-block btn-flat">Register
                        </button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <!-- <div class="social-auth-links text-center">
                 <p>- OR -</p>
                 <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign up using
                     Facebook</a>
                 <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign up using
                     Google+</a>
             </div>-->

            <a href="/admin/login" class="text-center">I already have a membership</a>
        </div>
    </div>
    {{template "layouts/footer.html"}}
    </body>
    </html>
    <script>
        //验证两次输入的密码是否正确
        $(document).ready(function () {
            var isVerify = false;
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
            $('#submitForm').on('click', function () {
                if (!isVerify) {
                    verifyCode();
                } else {
                    postSubmit();
                }
            });

            //刷新验证码
            var reload = 1;
            var captcha = $('#image-captcha');
            var src = captcha.attr('src');
            $('#refresh-button').on("click", function () {
                reload++;
                captcha.attr('src', src + "?reload=" + reload)
            });


            function checkPassword() {
                if ($("#form-password").val() === $("#form-password-again").val()) {
                    return true;
                } else {
                    toastr.error("两次密码输入不一致！");
                    return false;
                }
            }

            //验证码是否正确
            function verifyCode() {
                var verify_code = $('#verify_code').val();
                if (verify_code === "") {
                    toastr.error("验证不能为空");
                    return false
                }
                if (!isVerify) {
                    $.ajax({
                        url: '/admin/verify_captcha',
                        data: {value: verify_code},
                        type: 'get',
                        dataType: 'json',
                        success: function (data) {
                            if (data['succeed']) {
                                isVerify = true;
                                postSubmit()
                            } else {
                                toastr.error(data.message);
                                return false
                            }
                        }
                    });
                }
            }

            function postSubmit() {
                var form = $('#signupForm');
                if (!checkPassword()) {
                    return false
                }
                $.ajax({
                    url: form.attr('action'),
                    data: form.serializeArray(),
                    type: 'post',
                    dataType: 'json',
                    success: function (data) {
                        if (data['succeed']) {
                            toastr.success("Registered successfully");
                            window.location.href = "/admin/login"
                        } else {
                            toastr.error(data.message)
                        }
                    },
                    error: function (data) {
                        var msg = $("#msg");
                        msg.text(data.message);
                        msg.addClass("text-danger");
                    }
                })
            }

        });
    </script>
{{end}}